@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  background-color: green;
  padding-top: 3.5rem;
}

.quienesSomos {
  background-color: aquamarine;
}

.iconoWs {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 1em;
  right: .5em;
}
